/* For text */
* , ::before, ::after {
    font-family: Sans-Serif, serif;
    color: #222f3e;
    word-spacing: 2px;
    line-height: 1.4;
    font-size: small;
    box-sizing: border-box;
}

h3 {
  margin: 0;
}

a,
a:focus,
a:hover {
 text-decoration: none;
}

body {

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 15em;
    overflow: scroll;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.first_titre {
    font-size: 60px !important;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

.intro {
    text-align: justify;
}

.grand_titre {
    font-size: 30px !important;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #4976E4;
    text-decoration-thickness: 5px;
}

.section {
    font-size: 20px !important;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #111111;
    text-decoration-thickness: 3px;
}

.petite_section {
    font-size: 16px !important;
    font-weight: bold;
}

.nom_colonne_page3 {
    font-size: 17px !important;
    text-decoration: underline;
    text-decoration-color: #000;
    text-decoration-thickness: 1px;
}

/* For columns */
.row {
    display: flex;
}

.column_50 {
    flex: 50%;
}

.column_40 {
    flex: 40%;
}

.column_30 {
    flex: 30%;
}

.column_10 {
    flex: 10%;
}

/* For element */
hr { /* Ligne séparatrice */
    width: 80%;
    text-align: center;
}

a:link { /* Hyperliens */
    color: cornflowerblue;
}

a:visited { /* Hyperliens */
    color: cornflowerblue;
}

a:hover { /* Hyperliens */
    color: royalblue;
}

/* For images */
img {
    max-width: 100%;
    height: auto;
}
