{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-6"><br><br>
                <!-- split button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-lg " data-toggle="tooltip" data-placement="top" title="La séléction est sauvegardés même si vous changez d'onglet">Choisir des colonnes à visualiser</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-lg "
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only"></span>
                    </button>
                    <div class="dropdown-menu p-4">
                        <form method="POST" action="{{ url_for('analyse_colonnes') }}">
                            <h3 class="dropdown-header">Colonnes</h3>
                            <div class="dropdown-divider"></div>
                            {% for colonne in nom_col %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="dropdownCheck2"
                                           name="{{ colonne }}" {% if colonne in session['selected_nom_col_analyse'] %}checked{% endif %}>
                                    <label class="form-check-label" for="dropdownCheck2">
                                        {{ colonne }}
                                    </label>
                                </div>
                            {% endfor %}
                            <br>
                            <input type="submit" class="btn btn-success" value="Envoyer"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>


    <!-- Affichage colonnes + analyse -->
    {% if session['selected_nom_col_analyse'] %}
        {% for elem in session['selected_nom_col_analyse'] %}
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <!-- Affichage colonnes -->
                        <div style="box-sizing: border-box;">
                            <br><br>
                            <div class="d-flex justify-content-center">
                                <table>
                                    <tr>
                                        <th>{{ elem }}</th>
                                    </tr>
                                    {% for row in row_data %}
                                        <tr>
                                            {% for col, row_ in zip(session['selected_nom_col_analyse'], row) %}
                                                {% if col == elem %}
                                                    <td>{{ row_ }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                    <br><br><br><br><br>
                        <!-- Affichage analyse -->
                        <ul style="text-align: center; list-style-position: inside">
                            <li><b>Type colonne:</b> {{ caract_col_analyse[elem]['type_col'] }}</li>
                            <li><b>Type valeurs:</b> {{ caract_col_analyse[elem]['type_valeurs'] }}</li>
                            {% if 'Moyenne' in caract_col_analyse.keys() %}
                                <li><b>Moyenne:</b> {{ caract_col_analyse[elem]['Moyenne'] }}</li>
                                <li><b>Variance:</b> {{ caract_col_analyse[elem]['Variance'] }}</li>
                                <li><b>Maximum:</b> {{ caract_col_analyse[elem]['Maximum'] }}</li>
                                <li><b>Minimum:</b> {{ caract_col_analyse[elem]['Minimum'] }}</li>
                            {% endif %}
                            <li><b>Valeurs les plus présentes:</b> {{ caract_col_analyse[elem]['plus_presentes'] }}</li>
                            <li><b>Nombre de valeurs manquantes:</b> {{ caract_col_analyse[elem]['nb_val_manquantes'] }}</li>
                            <li><b>Taille:</b> {{ caract_col_analyse[elem]['Longueur'] }}</li>
                            <li><b>Valeurs differentes non NaN:</b> {{ caract_col_analyse[elem]['val_differentes_non_NaN'] }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br><br>
        {% endfor %}
    {% endif %}
{% endblock %}