{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3"><br><br>

                <div class="accordion" id="accordion1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                Choix des features
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordion1">
                            <div class="accordion-body">
                                <form method="POST" action="{{ url_for('matrice_correlation') }}">
                                    <h3 class="dropdown-header">Colonnes</h3>
                                    <div class="dropdown-divider"></div>
                                    {% for colonne in nom_col %}
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="dropdownCheck2"
                                                   name="{{ colonne }}"
                                                   {% if colonne in session['selected_nom_col_matrice_corr'] %}checked{% endif %}>
                                            <label class="form-check-label" for="dropdownCheck2">
                                                {{ colonne }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <br>
                                    <h3 class="dropdown-header">Couleurs</h3>
                                    <div class="dropdown-divider"></div>
                                    {% for colonne in all_col %}
                                        <input type="radio" name="couleur_matrice" value="{{ colonne }}"
                                               {% if session['couleur_matrice'] == colonne %}checked{% endif %}>
                                        {{ colonne }}
                                        <br>
                                    {% endfor %}
                                    <br>
                                    <input type="submit" class="btn btn-success" value="Envoyer"/>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>


    {% if not erreur %}
        <div class="center-block">
            <div id='chart' class='chart center-block'></div>
        </div>

        {% if fig %}
            <script type='text/javascript'>
                var graphs = {{fig | safe}};
                Plotly.plot('chart', graphs, {});
            </script>
        {% endif %}

    {% endif %}

    {% if erreur %}
        <!--Dataset vide-->
        <div class="alert alert-danger" role="alert">
            Le dataset après dropna() est vide !
        </div>
    {% endif %}

{% endblock %}
