{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <br><br><br><br>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <div class="accordion" id="accordion1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                Features
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordion1">
                            <div class="accordion-body">
                                <!-- Choix de l'abscisse et de l'ordonnée -->
                                <form method="POST" action="{{ url_for('regressions') }}">
                                    <h3 class="dropdown-header">Les features</h3>
                                    <div class="dropdown-divider"></div>
                                    {% for colonne in choix_col %}
                                        <input type="checkbox" name="selected_features_regressions"
                                               value="{{ colonne }}"
                                                {% if 'selected_features_regressions' in session %}
                                               {% if colonne in session['selected_features_regressions'] %}checked
                                               {% endif %}
                                                {% endif %}
                                        >
                                        {{ colonne }}<br>
                                    {% endfor %}
                                    <br>
                                    <input type="submit" class="btn btn-success" value="Envoyer"/>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="accordion" id="accordion2">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                Target
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingTwo" data-bs-parent="#accordion2">
                            <div class="accordion-body">
                                <!-- Choix de l'abscisse et de l'ordonnée -->
                                <form method="POST" action="{{ url_for('regressions') }}">
                                    <h3 class="dropdown-header">La target</h3>
                                    <div class="dropdown-divider"></div>
                                    {% for colonne in choix_col %}
                                        <input type="radio" name="selected_target_regressions"
                                               value="{{ colonne }}"
                                                {% if 'selected_target_regressions' in session %}
                                               {% if session['selected_target_regressions'] == colonne %}checked
                                               {% endif %}
                                                {% endif %}
                                        >
                                        {{ colonne }}<br>
                                    {% endfor %}
                                    <br>
                                    <input type="submit" class="btn btn-success" value="Envoyer"/>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div><br>


    {% if not erreur and session["figures"] != [] %}
        <br>
        <br>
        <br>
        <div class="center-block">
            <h3 class="text-center">Régression linéaire</h3><br>
            <div id='chart1' class='chart center-block'></div>
        </div>

        <br>
        <br>
        <div class="center-block">
            <h3 class="text-center">Régression polynomiale</h3><br>
            <div id='chart2' class='chart center-block'></div>
        </div>

        {% if session["figures"][2] != 'erreur' %}
            <!--Si la régression de poisson est possible-->
        <br>
        <br>
        <div class="center-block">
            <h3 class="text-center">Régression de poisson</h3><br>
            <div id='chart3' class='chart center-block'></div>
        </div>
        {% endif %}

        <br>
        <br>
        <div class="center-block">
            <h3 class="text-center">Elastic net</h3><br>
            <div id='chart4' class='chart center-block'></div>
        </div>

        <br>
        <br>
        <div class="center-block">
            <h3 class="text-center">Ridge</h3><br>
            <div id='chart5' class='chart center-block'></div>
        </div>

        <br>
        <br>
        <div class="center-block">
            <h3 class="text-center">Lasso</h3><br>
            <div id='chart6' class='chart center-block'></div>
        </div>

        {{ session["reg_lineaire"] }}

        {% for figure, indexfig in zip(session["figures"], ['1', '2', '3', '4', '5', '6']) %}
            {% if figure != 'erreur' %}
            <script type='text/javascript'>
                var graphs = {{figure | safe}};
                Plotly.plot('chart'+{{indexfig}}, graphs, {});
            </script>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if erreur == 1 %}
        <br>
        <div class="center-block">
            <!--target dans features-->
            <div class="alert alert-danger" role="alert">
                La target ne doit pas appartenir aux features !
            </div>
        </div>
    {% endif %}

    {% if erreur == 2 %}
        <br>
        <div class="center-block">
            <!--Dataset vide-->
            <div class="alert alert-danger" role="alert">
                Le dataset après dropna() est vide !
            </div>
        </div>
    {% endif %}

    {% if erreur == 3 %}
        <br>
        <div class="center-block">
            <!--erreur modèles-->
            <div class="alert alert-danger" role="alert">
                Impossible d'effectuer les régressions avec ces données
            </div>
        </div>
    {% endif %}


    <!--test-->
    {% for id in ['selected_features_regressions', 'selected_target_regressions', 'list_metrics_linear_regressions'] %}
        {% if id in session %}
            {{ session[id] }}
        {% endif %}
    {% endfor %}

{% endblock %}