{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <br><br><br><br>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
                <div class="accordion" id="accordion1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                Données à visualiser
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordion1">
                            <div class="accordion-body">
                                <!-- Choix de l'abscisse et de l'ordonnée -->
                                <form method="POST" action="{{ url_for('section_graphiques') }}">
                                    <h3 class="dropdown-header">Données en abscisse</h3>
                                    <div class="dropdown-divider"></div>
                                    {% for colonne in all_col %}
                                        <input type="radio" name="selected_abscisse_col_sect_graphiques"
                                               value="{{ colonne }}"
                                                {% if 'selected_abscisse_col_sect_graphiques' in session %}
                                               {% if session['selected_abscisse_col_sect_graphiques'] == colonne %}checked
                                               {% endif %}
                                                {% endif %}
                                               required>
                                        {{ colonne }}<br>
                                    {% endfor %}
                                    <br>
                                    <h3 class="dropdown-header">Données en ordonnée</h3>
                                    <div class="dropdown-divider"></div>
                                    {% for colonne in all_col %}
                                        <input type="radio" name="selected_ordonnee_col_sect_graphiques"
                                               value="{{ colonne }}"
                                                {% if 'selected_ordonnee_col_sect_graphiques' in session %}
                                               {% if session['selected_ordonnee_col_sect_graphiques'] == colonne %}checked
                                               {% endif %}
                                                {% endif %}
                                               required>
                                        {{ colonne }}<br>
                                    {% endfor %}
                                    <br>
                                    <input type="submit" class="btn btn-success" value="Envoyer"/>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="accordion accordion" id="accordion2">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                Type de graphique
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingTwo" data-bs-parent="#accordion2">
                            <div class="accordion-body">
                                <!-- Choix du type de graphique -->
                                <form method="POST" action="{{ url_for('section_graphiques') }}">
                                    <h3 class="dropdown-header">Choisir un type</h3>
                                    <div class="dropdown-divider"></div>
                                    <input type="radio" name="type_graphique_sect_graphiques"
                                           value="Points"
                                            {% if 'type_graphique_sect_graphiques' in session %}
                                           {% if session['type_graphique_sect_graphiques'] == 'Points' %}checked
                                           {% endif %}
                                            {% endif %}
                                           required>
                                    Points<br>
                                    <input type="radio" name="type_graphique_sect_graphiques"
                                           value="Courbe"
                                            {% if 'type_graphique_sect_graphiques' in session %}
                                           {% if session['type_graphique_sect_graphiques'] == 'Courbe' %}checked
                                           {% endif %}
                                            {% endif %}
                                           required>
                                    Courbe<br>
                                    <input type="radio" name="type_graphique_sect_graphiques"
                                           value="Latitude/Longitude"
                                            {% if 'type_graphique_sect_graphiques' in session %}
                                           {% if session['type_graphique_sect_graphiques'] == 'Latitude/Longitude' %}checked
                                           {% endif %}
                                            {% endif %}
                                           required>
                                    Latitude/Longitude<br>
                                    <input type="radio" name="type_graphique_sect_graphiques"
                                           value="Histogramme"
                                            {% if 'type_graphique_sect_graphiques' in session %}
                                           {% if session['type_graphique_sect_graphiques'] == 'Histogramme' %}checked
                                           {% endif %}
                                            {% endif %}
                                           required>
                                    Histogramme<br>
                                    <br>
                                    <input type="submit" class="btn btn-success" value="Envoyer"/>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="accordion accordion" id="accordion3">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                Indices statistiques
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree" data-bs-parent="#accordion3">
                            <div class="accordion-body">
                                <!-- Choix du type de graphique -->
                                <form method="POST" action="{{ url_for('section_graphiques') }}">
                                    <h3 class="dropdown-header">Choisir un indice</h3>
                                    <div class="dropdown-divider"></div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input"
                                               name="stats_graphique_sect_graphiques"
                                               value="Maximum"
                                                {% if 'stats_graphique_sect_graphiques' in session %}
                                                    {% if session['stats_graphique_sect_graphiques'] %}
                                               {% if 'Maximum' in session['stats_graphique_sect_graphiques'] %}checked
                                               {% endif %}{% endif %}
                                                {% endif %}
                                                {% if 'type_graphique_sect_graphiques' in session %}
                                                    {% if session['type_graphique_sect_graphiques'] == 'Histogramme' or session['type_graphique_sect_graphiques'] == 'Latitude/Longitude' %}
                                               disabled
                                                    {% endif %}{% endif %}
                                        >
                                        Maximum<br>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input"
                                               name="stats_graphique_sect_graphiques"
                                               value="Moyenne"
                                                {% if 'stats_graphique_sect_graphiques' in session %}
                                                    {% if session['stats_graphique_sect_graphiques'] %}
                                               {% if 'Moyenne' in session['stats_graphique_sect_graphiques'] %}checked
                                               {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                                {% if 'type_graphique_sect_graphiques' in session %}
                                                    {% if session['type_graphique_sect_graphiques'] == 'Histogramme' or session['type_graphique_sect_graphiques'] == 'Latitude/Longitude' %}
                                               disabled
                                                    {% endif %}{% endif %}
                                        >
                                        Moyenne<br>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input"
                                               name="stats_graphique_sect_graphiques"
                                               value="Minimum"
                                                {% if 'stats_graphique_sect_graphiques' in session %}
                                                    {% if session['stats_graphique_sect_graphiques'] %}
                                               {% if 'Minimum' in session['stats_graphique_sect_graphiques'] %}checked
                                               {% endif %}{% endif %}
                                                {% endif %}
                                                {% if 'type_graphique_sect_graphiques' in session %}
                                                    {% if session['type_graphique_sect_graphiques'] == 'Histogramme' or session['type_graphique_sect_graphiques'] == 'Latitude/Longitude' %}
                                               disabled
                                                    {% endif %}{% endif %}
                                        >
                                        Minimum<br>
                                    </div>
                                    <input type="hidden"
                                           name="stats_graphique_sect_graphiques"
                                           value="empty"
                                           checked
                                    >
                                    <br>
                                    <input type="submit" class="btn btn-success" value="Envoyer"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="accordion accordion" id="accordion4">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                Régressions simples
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingFour" data-bs-parent="#accordion4">
                            <div class="accordion-body">
                                <!-- Choix du type de graphique -->
                                <form method="POST" action="{{ url_for('section_graphiques') }}">
                                    <h3 class="dropdown-header">Choisir un modèle</h3>
                                    <div class="dropdown-divider"></div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input"
                                               name="reg_graphique_sect_graphiques"
                                               value="Régression Linéaire"
                                                {% if 'reg_graphique_sect_graphiques' in session %}
                                                    {% if session['reg_graphique_sect_graphiques'] %}
                                               {% if 'Régression Linéaire' in session['reg_graphique_sect_graphiques'] %}checked
                                               {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                                {% if 'type_graphique_sect_graphiques' in session %}
                                                    {% if session['type_graphique_sect_graphiques'] == 'Histogramme' or session['type_graphique_sect_graphiques'] == 'Latitude/Longitude' %}
                                               disabled
                                                    {% endif %}{% endif %}
                                        >
                                        Regression Linéaire<br>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input"
                                               name="reg_graphique_sect_graphiques"
                                               value="Régression polynomiale"
                                                {% if 'reg_graphique_sect_graphiques' in session %}
                                                    {% if session['reg_graphique_sect_graphiques'] %}
                                               {% if 'Régression polynomiale' in session['reg_graphique_sect_graphiques'] %}checked
                                               {% endif %}{% endif %}
                                                {% endif %}
                                                {% if 'type_graphique_sect_graphiques' in session %}
                                                    {% if session['type_graphique_sect_graphiques'] == 'Histogramme' or session['type_graphique_sect_graphiques'] == 'Latitude/Longitude' %}
                                               disabled
                                                    {% endif %}{% endif %}
                                        >
                                        Régression polynomiale<br>
                                    </div>
                                    <input type="hidden"
                                           name="reg_graphique_sect_graphiques"
                                           value="empty"
                                           checked
                                    >
                                    <br>
                                    <input type="submit" class="btn btn-success" value="Envoyer"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div><br>

    {% if not erreur %}
        <div class="center-block">
            <div id='chart' class='chart center-block'></div>
        </div>
        {% if fig %}
            <script type='text/javascript'>
                var graphs = {{fig | safe}};
                Plotly.plot('chart', graphs, {});
            </script>
        {% endif %}
    {% endif %}


    {% if erreur %}
        <!--Dataset vide-->
        <div class="alert alert-danger" role="alert">
            Le dataset après dropna() est vide !
        </div>
    {% endif %}

{% endblock %}