{% extends 'base.html' %}

{% block content %}
    <br>

    <div class="container">
        <br><br>

        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <p class="grand_titre">UMAP : Uniform Manifold Approximation and Projection</p><br><br>
                <!--Choix target + features-->
                <div class="accordion shadow" id="accordion1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                Features + target
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordion1">
                            <div class="accordion-body">
                                <!-- Choix des features et target -->
                                <form method="POST" action="{{ url_for('UMAP_page') }}">
                                    <h3 class="dropdown-header">Sélectionner au moins 2 colonnes</h3>
                                    <div class="dropdown-divider"></div>
                                    {% for colonne in choix_col %}
                                        <input type="checkbox" name="selected_col_umap"
                                               value="{{ colonne }}"
                                                {% if 'selected_col_umap' in session %}
                                               {% if colonne in session['selected_col_umap'] %}checked
                                               {% endif %}
                                                {% endif %}
                                        >
                                        {{ colonne }}<br>
                                    {% endfor %}
                                    <br>
                                    <input type="submit" class="btn btn-success" value="Envoyer"/>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <br><br>

                {% if len(session['selected_col_umap']) > 1 %}
                    <!--Encodage-->
                    <div class="accordion shadow" id="accordion2">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                    Données à encoder
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingTwo" data-bs-parent="#accordion2">
                                <div class="accordion-body">
                                    <!-- Encodage -->
                                    <form method="POST" action="{{ url_for('UMAP_page') }}">
                                        <h3 class="dropdown-header">Colonnes à encoder</h3>
                                        <div class="dropdown-divider"></div>
                                        {% for colonne in session['selected_col_umap'] %}
                                            <input type="checkbox" name="selected_col_encode_umap"
                                                   value="{{ colonne }}"
                                                    {% if 'selected_col_encode_umap' in session %}
                                                   {% if colonne in session['selected_col_encode_umap'] %}checked
                                                   {% endif %}
                                                    {% endif %}
                                            >
                                            {{ colonne }}<br>
                                        {% endfor %}
                                        <br>
                                        {% if message_encode %}
                                            <h3 class="dropdown-header">Encodage</h3>
                                            <div class="dropdown-divider"></div>
                                            {% for mec in message_encode %}
                                                <p>{{ mec }}</p>
                                            {% endfor %}
                                        {% endif %}
                                        <br>
                                        <input type="hidden"
                                               name="selected_col_encode_umap"
                                               value="empty"
                                               checked
                                        >
                                        <input type="submit" class="btn btn-success" value="Envoyer"/>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div><br><br>

                    <!--Target-->
                    <div class="accordion shadow" id="accordion3">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                    Target
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingThree" data-bs-parent="#accordion3">
                                <div class="accordion-body">
                                    <!-- target -->
                                    <form method="POST" action="{{ url_for('UMAP_page') }}">
                                        <h3 class="dropdown-header">Choix de la target - Si la colonne qui vous
                                            intéresse n'apparait pas, c'est qu'il faut l'encoder</h3>
                                        <div class="dropdown-divider"></div>
                                        {% for colonne in session['col_numeriques_umap_avec_encode'] %}
                                            <input type="radio" name="selected_target_umap"
                                                   value="{{ colonne }}"
                                                    {% if 'selected_target_umap' in session %}
                                                   {% if colonne in session['selected_target_umap'] %}checked
                                                   {% endif %}
                                                    {% endif %}
                                            >
                                            {{ colonne }}<br>
                                        {% endfor %}
                                        <br>
                                        <input type="submit" class="btn btn-success" value="Envoyer"/>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <br><br>

    {% if figure_umap %}
        <br>
        <h3 class="text-center">Résultats</h3><br>
        <div id='umap_res' class='chart center-block'></div>
        <script type='text/javascript'>
            var graphs = {{ figure_umap | safe}};
            Plotly.plot('umap_res', graphs, {});
        </script>
    {% endif %}

    {% if erreur %}
        <br>
        <div class="center-block">
            <!--target dans features-->
            <div class="alert alert-danger shadow" role="alert">
                Erreurs possibles : <br>
                - Le dataset après dropna() est vide<br>
                - Le modèle a échoué avec ces données<br>
                - Target non valide<br>
            </div>
        </div>
    {% endif %}
{% endblock %}